* {
   
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    min-height: 676px;
    min-width: 0px;
    margin: 0;
    padding: 0;
}
body img {
    border-radius: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: fixed; 
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra na barra superior */
}

header > input[type="search"] {
    background-color: white;
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra nos campos de entrada */
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    max-width: 16.1%;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
    margin-top: 3.8%;
    padding: 1vh 1vw 1vh 1vw;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);

}
aside h2 {
    text-align: center;
    font-size: 100%;
    margin: auto;
}
#logobar {
    width: auto;
    height: auto;
    padding: 5%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside ul {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside ul li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 1vh 0 1vh 0;
    margin: 1vh 1vw 1vh 1vw;
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1); /* Sombra interna */
}

aside ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
aside ul li i{
    padding: 1%;
}

aside ul li p{
    margin: 0;
}

/* Conteúdo principal */
main {
    float: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    align-items: center;
    margin: 3.8% 0 0 15.64%;
    padding: 20px;
}


div {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra nas divs */
    border-radius: 10px; /* Sombra com bordas arredondadas */ 
}

section {
    height: 300px;
    width: 90%;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra nas divs */
    border-radius: 10px; /* Sombra com bordas arredondadas */ 
}
section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
/* Botões */
.btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra nos botões */
}

.btn-primary {
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra no botão primário */
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    min-width: 200px;
    width: auto;
    text-align: center;
    padding: 1%;
}

.item img {
    max-width: 80px;
    height: 80px;
    border-radius: 100%;
}

.pop h2 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}
.pop{
    margin: 0 auto;
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra nos inputs */
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-buttons button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra nos botões */
}

.form-buttons button[type="button"] {
    background-color: #ccc;
}

.form-buttons button[type="submit"] {
    background-color: #000;
    color: #fff;
}

/* Editar veículo */
.editar {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra no formulário */
}

.editar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}
/*Animações*/

.elemento:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
}
#burguer:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;

}
aside ul li a:hover {
    color: #007bff;

}
aside ul li:hover {
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.1); /* Sombra interna */
}

@media screen and (max-width: 1060px) {
    aside {
        margin-top: 67px;
    }
    main{
        margin: 67px 0 0 44px;
    }

    section{
        text-align: center;
        flex-wrap: nowrap;
        height: auto;
    }
    .elemento {
        margin: 1%;
    }
    #logobar, p  {
        display: none;
    }
}